@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	.text-edge-outline {
		-webkit-text-stroke: 1px rgba(255, 255, 255, 0.555);
	}
}

body {
	font-family: "Rubik", sans-serif;
}
h1,
h2 {
	font-family: "Rubik Mono One", "Rubik", sans-serif;
	font-weight: 400;
	letter-spacing: -0.08em;
}

h3 {
	font-family: "Rubik", sans-serif;
}

nav > ul {
	font-family: "Rubik", sans-serif;
}
#loading-logo,
#loading-logo2 {
	font-family: "Rubik Mono One", "Rubik", sans-serif;
	letter-spacing: -0.08em;
	line-height: 0.075;
	font-size: 22vw;
	color: white;
}

a.underline-hover-effect {
	text-decoration: none;
	color: inherit;
}

.underline-hover-effect {
	display: inline-block;
	padding-bottom: 0.25rem; /* defines the space between text and underline */
	position: relative;
}

.underline-hover-effect::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
	width: 100%;
}

.font-default {
	font-family: "Rubik", sans-serif;
}

nav {
	background-color: rgba(36, 36, 36, 0.2);
	backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
	-webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
		brightness(140%);
}
